# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.dist-info/
.installed.cfg
*.egg
__pycache__/

# Serverless directories
.serverless/
.requirements/

# Mac Files
.DS_Store

# Test files
test*
